How to configure the number of queries per connection?

Hi, 

I am trying to use flamethrower for a simple DNS test. I need to use TCP but it seems that the tool is sending several DNS requests per connection. 

How many requests per connection are sent by default?
Is that configurable? I didn't find an option to change it. 

Thanks

Sending multiple queries over a single TCP connection was a design requirement for Flamethrower. It's called DNS query pipelining (see [RFC 7766, Section 6.2.1.1](https://tools.ietf.org/html/rfc7766#section-6.2.1.1)).

In the TCP mode, `-c` sets how many concurrent TCP sessions are open to the server and `-q` specifies how many queries should be sent every `-d` milliseconds on each session. At the moment, there is no way to tell Flamethrower to close the connection after certain amount of queries.

For instance, `./flamethrower -P tcp -c 20 -q 1 -d 100` makes Flamethrower send
1 query every 100 ms, which is 10 q/s for a single session, and that is 200 q/s total.

I hope it helps.

Thanks a lot for the explanations :)
It's very clear :)